@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
   --primary-color: #28a745;
   --secondary-color: #0284d0;
   --light-color: #f4f4f4;
   --dark-color: #333;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body{
   font-family: 'Open Sans', sans-serif;
   background: #fff;
   color: #333;
   line-height: 1.6;
}

ul {
   list-style: none;
}

a {
   color: #333;
   text-decoration: none;
}

h1, h2 {
   font-weight: 300;
   line-height: 1.2;
}

p {
   margin: 10px 0;
}

img {
   width: 100%;
}

/* Navbar */
.navbar {
   height: 80px;
   width: 100%;
   background: transparent;
   color: #fff;
   position: fixed;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: background 1s ease;
}

.navbar-scrolled {
   background: rgba(0, 0, 0, 0.5);
}

.navbar .logo {
   margin-left: 1.5rem;
   font-weight: 400;
}

.navbar nav ul {
   display: flex;
}

.navbar nav ul li {
   padding: 1rem;
}

.navbar nav ul li a {
   color: #fff;
   padding: 1rem;
   border-bottom: 1px solid transparent;
   transition: all 0.3s ease;
}

.navbar nav ul li a:hover {
   border-bottom: 1px solid var(--primary-color);
   opacity: 0.8;
}

/* Header */
.hero {
   background: url(/image_resources/home/showcase.jpg) no-repeat center center/cover;
   height: 100vh;
   position: relative;
}

.hero .content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
   color: #fff;
}

.hero .content h1 {
   font-size: 60px;
   margin-bottom: 1rem;
}

.hero .content p {
   font-size: 20px;
}

.hero::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
}

.hero * {
   z-index: 10;
}

/* Icons */
#icons {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   text-align: center;
   height: 30vh;
}

#icons .icon {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 2rem;
}

#icons .icon i {
   padding: 1rem;
   border-radius: 50%;
   margin-bottom: 1rem;
   text-align: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#icons .icon p {
   margin-top: 1.5rem;
}

/* Solutions */
#solutions {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   color: #fff;
   height: 100%;
}

#solutions img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

#solutions .solutions-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   padding: 2rem;
}

#solutions .solutions-text h2 {
   font-size: 40px;
   margin-bottom: 10px;
}

/* Cases */
#cases .cases-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0.5rem 0;
}

#cases .cases-content p {
   padding: 0.8rem 0;
}

#cases .cases-content h1 {
   font-size: 2.5rem;
}

#cases .cases-img {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   padding: 0 2rem;
   padding-bottom: 1rem;
}

#cases .cases-img img {
   object-fit: cover;
   background: #fff;
   transition: opacity 0.5s ease;
}

#cases .cases-img img:hover {
   opacity: 0.6;
   cursor: pointer;
}

#cases .cases-img img:last-child {
   height: 94%;
}

/* Team */
#team .grid-team {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 3rem;
   padding: 2rem;
}

#team .cases-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 2rem 0;
}

#team .cases-content h1 {
   font-size: 2.5rem;
   margin: 1rem 0;
}

#team .icon {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-bottom: 2rem;
}

#team .icon img {
   border-radius: 50%;
   margin-bottom: 1rem;
}

#team .icon h1 {
   font-size: 1.5rem;
   font-weight: bold;
}

/* Form */
#contact {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   color: #fff;
   height: 100%;

}

#contact .solutions-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   padding: 2rem;
}

#contact img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

#contact .solutions-form {
   background: var(--light-color);
}

#contact .solutions-text h1 {
   color: #333;
   font-size: 3rem;
   padding: 1rem 0;
}

#contact .form {
   padding: 0.5rem 0;
   width: 100%;
}

#contact label {
   display: block;
   color: #333;
}

#contact input {
   display: block;
   padding: 0.8rem 0.4rem;
   width: 90%;
   border: none;
   border-radius: 5px;
}

#contact textarea {
   display: block;
   font-family: 'Open Sans', sans-serif;
   padding: 0.8rem 0.4rem;
   width: 90%;
   border: none;
   border-radius: 5px;
}

#contact .solutions-text a {
   width: 90%;
   text-align: center;
}

/* Footer */
#main-footer {
   height: 200px;
   background: #333;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

#main-footer a {
   color: #fff;
   padding: 0 0.5rem;
   transition: all 0.5s ease;
}

#main-footer a:hover {
   color: var(--primary-color);
}