@media(max-width: 768px) {
   /* Index */
   .navbar {
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2rem;
   }

   .navbar nav ul li {
      padding: 1rem 0;
   }

   #icons {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
      margin: 2rem 0;
   }

   #icons .icon {
      margin: 1rem 2rem;
   }

   #solutions {
      grid-template-columns: 1fr;
   }

   .solutions-text {
      font-size: smaller;
   }

   .solutions-text p {
      font-size: larger;
   }

   #cases .cases-content p{
      text-align: center;
      padding: 0 2rem;
   }

   #cases .cases-img {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   #team .cases-content {
      padding: 1rem 2rem;
   }

   #team .cases-content p {
      font-size: larger;
   }

   #team .grid-team {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
   }

   #contact {
      display: grid;
      grid-template-columns: 1fr;
   }

   #contact img {
      display: none;
      width: 0%;
   }

   #contact .solutions-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   #contact input {
      width: 100%;
   }

   #contact .solutions-text label {
      font-size: larger;
   }

   /* About */
   #about-content .content-grid {
      display: grid;
      grid-template-columns: 1fr;
   }

   #about-content .border-right {
      border: none;
      border-bottom: 8px solid var(--primary-color);
   }

   #about-content .border-left {
      border: none;
      border-top: 8px solid var(--primary-color);;
   }

   #about-icons .icon-grid {
      display: grid;
      grid-template-columns: 1fr;
   }

   #about-icons .icon {
      justify-content: center;
      text-align: center;
   }

   #about-icons .icon p {
      padding: 0 2rem;
   }

   #owners .owner-grid {
      display: grid;
      grid-template-columns: 1fr;
   }

   #owners .profile:first-child {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 4px dotted var(--primary-color);
      width: 100%;
   }

   #owners .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   /* Cases */

   #cases-inner .cases-grid {
      display: grid;
      grid-template-columns: 1fr;
   }
   #cases-inner .cases-grid > *:first-child {
      grid-column: 1;
      display: flex;
      flex-direction: column;
   }

   #cases-inner .cases-grid > *:last-child {
      grid-column: 1;
      display: flex;
      flex-direction: column;
   }

   #cases-inner .border-right {
      border: none;
      border-bottom: 8px solid var(--primary-color);
   }

   #cases-inner .border-left {
      border: none;
      border-top: 8px solid var(--primary-color);
   }

   /* Blog */
   #blog-content .blog-grid {
      display: grid;
      grid-template-columns: 1fr;
   }

   #blog-content img {
      display: none;
   }

   #blog-content .post:last-child {
      grid-column-start: 1;
      grid-column-end: 1;
      width: 100%;
   }

   /* Inner Blog Post */
   #blog-post-inner .post h2 {
      font-size: 35px;
   }

   /* Contact */
   #main-contact .contact-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
   }

   #main-contact .contact-info:last-child {
      padding-bottom: 2rem;
      border-bottom: 3px dotted var(--dark-color);
   }

   #main-contact .solutions-text {
      display: grid;
      grid-template-columns: 1fr;
   }

   #main-contact .solutions-text .contact-text-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
   }

   #main-contact .contact-content {
      margin-bottom: 1rem;
   }

   #main-contact .form input, 
   #main-contact .form textarea {
      width: 90%;
   }
}